<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Student Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      ngModel
      required
    />
  </div>
  <div class="form-group">
    <label for="attendance">Select</label>
    <select name="attendance" id="attendance" class="form-control">
      <option *ngFor="let option of availableAttendance" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Add Student</button>
</form>
